.product-list-item {
    -fx-border-width: 2px;
    -fx-border-color: #999999;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-large{
    -fx-font-size: 17px;
    -fx-font-family: "Avenir Book";
}

.category-expandable{
    -fx-font-size: 18px;
}

.category-expandable > .title{
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0;
    -fx-border-color: #AEAEAE70;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.category-expandable-child{
    -fx-font-size: 13px;
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0;
    -fx-border-color: #AEAEAE70;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.category-expandable:focused > .title{
    -fx-background-color: #D0D0D0;
    -fx-background-color: #E0E0E0;
    -fx-border-color: #e54545;
    -fx-border-width: 2;
}

.category-expandable > .title:hover{
    -fx-background-color: D0D0D0;
}

.category-expandable-child:hover{
    -fx-background-color: D0D0D0;
}

.category-expandable-child:focused{
    -fx-background-color: #E0E0E0;
    -fx-border-color: #e54545;
    -fx-border-width: 2;
}

.category-static > .title > .arrow-button{
    visibility: hidden;
}

.category-static > .title{
    -fx-background-color: #e54545;
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0;
    -fx-border-color: #AEAEAE70;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.category-static:focused > .title{
    -fx-background-color: #D0D0D0;
    -fx-background-color: #E0E0E0;
    -fx-border-color: #e54545;
    -fx-border-width: 2;
}

.category-static > .title:hover{
    -fx-background-color: D0D0D0;
}

.favorite-category > .title > .arrow-button{
    visibility: hidden;
}

.earlier-purchases-category > .title > .arrow-button{
    visibility: hidden;
}

.accordion_holder h5 {
    -fx-background-color: #234200 !important;
}

.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 10.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.button-no-hover {
    -fx-background-color: #e54545;
    -fx-background-radius: 5;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #E54545;
    -fx-background-radius: 5;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #D43434;
    -fx-background-radius: 5;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.popup-go-back-button {
    -fx-background-color: #FEFEFE;
    -fx-background-radius: 7;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.popup-go-back-button:hover {
    -fx-background-color: #AEAEAE;
    -fx-background-radius: 7;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.button-orange {
    -fx-background-color: #F79204;
    -fx-background-radius: 5;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.button-orange:hover {
    -fx-background-color: #D570E2;
    -fx-background-radius: 5;
    -fx-border-color: #404040;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}