.product-list-item {
    -fx-border-width: 2px;
    -fx-border-color: #999999;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-large{
    -fx-font-size: 17px;
    -fx-font-family: "Avenir Book";
}